.card-body{
    background-color:yellowgreen;
}
.card-title{
    font-style:italic;
    font-size: larger;
}
.col-4{
    outline-color: black;
}
.logoutBtn{
    width: 80%;
    margin-left: 85%;
    position: absolute;
}
#user_table{
    margin-left: 2%;
}
.container {
    margin-top: 1%;
}
// .card-body {
//     border-radius: 10%;
//     border: none;
// }